
.nav{
    background-color: #E8E1EF;
}

.nav a{
    text-decoration: none;
    color: black;
    padding :5px;
    margin:5px;
    font-weight: bold;
}

 .drop-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1000px;
}

 select {
    background-color: #E8E1EF;
    font-weight: bold;
}

